<div id="todo-app">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="translation"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="switchLanguage('fr')">
            <mat-icon svgIcon="france"></mat-icon>
            {{'FrenchLabel' | translate}}
          </button>
          <button mat-menu-item (click)="switchLanguage('en')">
            <mat-icon svgIcon="england"></mat-icon>
            {{'EnglishLabel' | translate}}
          </button>
        </mat-menu>
      </span>
      <span id="toolbar-title">{{'Title' | translate}}</span>
      <span>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
