#menu {
  background-color: #673ab7;
  color: #FFF;
  margin: 0;
  padding: 5px 0;
  height: 38px;
}

#menu a {
  color: #FFF;
  padding: 5px;
  border-radius: 3px;
  background-color: #a46eff;
  cursor: pointer;
}


.todoForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
}

.todoForm > * {
  width: 100%;
}

.container {
  border: 2mm ridge rgba(46, 61, 218, 0.55);
}

#form-submit-button {
  margin-top: 20px;
}


a {
  color: #337ab7;
  text-decoration: none;
}

#menu li {
  display: inline;
}

#menu ul {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

ul {
  list-style-type: none;
}
